extends ../template

block variables
  - var title = 'Home'

block content
  .container
    include ../blocks/top
    include ../blocks/slider
    include ../blocks/content
    include ../blocks/links
    include ../blocks/footer
