.blog
  p.blog__title Our blogs & news
  .blog__block
    .blog__elem
      img(src="assets/images/blog.jpg", alt="blog").blog__img
      .blog__info
        p.blog__topic
          a(href="#", title="title").blog__link The 15 secrets about fashion people
        p.blog__date January 12, 2020 by admin
    .blog__elem
      img(src="assets/images/blog2.jpg", alt="blog").blog__img
      .blog__info
        p.blog__topic
          a(href="#", title="title").blog__link  The 15 secrets about fashion people
        p.blog__date January 12, 2020 by admin
