.links
  .wrap.links__wrap
    .links__elem
      p.links__title Information
      ul.links__list
        li.links__item
          a(href="#").links__link The brand
        li.links__item
          a(href="#").links__link Local stores
        li.links__item
          a(href="#").links__link Customer service
        li.links__item
          a(href="#").links__link Privacy & cookies
        li.links__item
          a(href="#").links__link Site map
    .links__elem
      p.links__title My profile
      ul.links__list
        li.links__item
          a(href="#").links__link Getting started
        li.links__item
          a(href="#").links__link FAQs
        li.links__item
          a(href="#").links__link Buying Guide
        li.links__item
          a(href="#").links__link Order Returns
        li.links__item
          a(href="#").links__link Affiliate Program
    .links__elem
      p.links__title Your account
      ul.links__list
        li.links__item
          a(href="#").links__link Shipping & returns
        li.links__item
          a(href="#").links__link Secure shopping
        li.links__item
          a(href="#").links__link Testimonials
        li.links__item
          a(href="#").links__link Award winning
        li.links__item
          a(href="#").links__link Ethical trading
    .links__elem
      p.links__title Lookbook
      ul.links__list
        li.links__item
          a(href="#").links__link Getting started
        li.links__item
          a(href="#").links__link FAQs
        li.links__item
          a(href="#").links__link Buying Guide
        li.links__item
          a(href="#").links__link Order Returns
        li.links__item
          a(href="#").links__link Affiliate Program
    .links__elem
      p.links__title Contact details
      ul.links__list
        li.links__item
          p.links__link.links__link--contact #[span.contact Telephone:] 0123-456-789
        li.links__item
          p.links__link.links__link--contact #[span.contact Email:] free@psdfreebles.com
        li.links__item
          p.links__link.links__link--contact #[span.contact Head Office:] 245 Yellow House, Main Street, London. 456789