.offers
  .offers__left
    .offers__elem
      img(src='assets/images/offer1.jpg').offers__img
      .offers__info
        p.offers__disc.offers__disc-1 Buy 2 get<br>up 50% off
    .offers__elem
      img(src='assets/images/offer2.jpg').offers__img
  .offers__center
    .offers__elem
      img(src='assets/images/offer3.jpg').offers__img
      .offers__info
        p.offers__cat Winter Jacket
        p.offers__name Vintage look<br>for women
        a(href="#").offers__btn Shop now
      span.offers__new New
  .offers__right
    .offers__elem
      img(src='assets/images/offer4.jpg').offers__img
      .offers__info
        p.offers__cat Winter Jacket
        p.offers__name Fashion<br>for men
        a(href="#").offers__btn Shop now
    .offers__elem
      img(src='assets/images/offer5.jpg').offers__img
      .offers__info.offers__info--glasses
        p.offers__disc.offers__disc-2 40% of on sunglasses
      span.offers__new New