.prod
  p.prod__title Product types
  p.prod__text Up to 30% discount
  .prod__block
    .prod__elem
      img(src="assets/images/product1.jpg").prod__img
      a(href="#", title="title").prod__btn Shop men
    .prod__elem
      img(src="assets/images/product2.jpg").prod__img
      a(href="#", title="title").prod__btn Shop women
    .prod__elem
      img(src="assets/images/product3.jpg").prod__img
      a(href="#", title="title").prod__btn Shop kids