form(action="#").search__form
  img(src='assets/images/search.png').icons__img
  button(type='submit').search__btn
    img(src='assets/images/search.png').search__img
  input(type="text" name='search' placeholder="Search...").search__input