.slider
  .owl-carousel.owl-theme
    .slider__item
      .slider__img
        img(src='assets/images/slide.png')
      .slider__info
        p.slider__title Summer Collection
        p.slider__type 01
          span Men's wear
        .slider__icons
          a(href="")
            img(src='assets/images/slider-icon.png')
          a(href="")
            img(src='assets/images/slider-icon2.png')
          a(href="")
            img(src='assets/images/slider-icon3.png')
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dignissimos, numquam, dicta quo ducimus tenetur minus, voluptatum quidem aspernatur eligendi quam mollitia deleniti tempora facilis doloremque ab et quibusdam ullam!
        a(href='').slider__btn Shop now
    .slider__item
      .slider__img
        img(src='assets/images/slide2.png')
      .slider__info
        p.slider__title Summer Collection
        p.slider__type 01
          span Men's wear
        .slider__icons
          a(href="")
            img(src='assets/images/slider-icon.png')
          a(href="")
            img(src='assets/images/slider-icon2.png')
          a(href="")
            img(src='assets/images/slider-icon3.png')
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dignissimos, numquam, dicta quo ducimus tenetur minus, voluptatum quidem aspernatur eligendi quam mollitia deleniti tempora facilis doloremque ab et quibusdam ullam!
        a(href='').slider__btn Shop now
    .slider__item
      .slider__img
        img(src='assets/images/slide3.png')
      .slider__info
        p.slider__title Summer Collection
        p.slider__type 01
          span Men's wear
        .slider__icons
          a(href="")
            img(src='assets/images/slider-icon.png')
          a(href="")
            img(src='assets/images/slider-icon2.png')
          a(href="")
            img(src='assets/images/slider-icon3.png')
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dignissimos, numquam, dicta quo ducimus tenetur minus, voluptatum quidem aspernatur eligendi quam mollitia deleniti tempora facilis doloremque ab et quibusdam ullam!
        a(href='').slider__btn Shop now